{% extends 'base.html' %}
{% block title %} FreshenAI {% endblock title %}

{% block content %}
    <div class="container">
          <h3> Waste-Not Repo </h3>
    </div>

    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
         <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Strawberries - 3 days to spoilage',
            'Strawberries - 1 day to spoilage',
            'Bananas - 6 days to spoilage',
            'Bananas - 3 days to spoilage',
            ],
            datasets: [{
                label: 'Quantity of Produce in WNR',
                data: [15, 9, 3, 5],
                backgroundColor: [

                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(75, 192, 192, 0.2)',

                    'rgba(255, 206, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    </script>


{% endblock %}