{% extends 'base.html' %}

{% block title %} FreshenAI {% endblock title %}

{% block content %}
    <div class="container">
          <h3> Cull Alert </h3>
    </div>

  <br/>
  <br/>
      <!--Grid column-->
  <div class="col-md-6 mb-4">

    <form class="md-form" action="/" enctype="multipart/form-data" method="POST">
      <p><input type="file" name="file" accept=".jpg,.png"></p>

        <div class="container">
         <button type="submit" class="btn btn-secondary" name="upload"> Upload </button>
        </div>

        {% if filename %}
	    <div>
            <p> Thanks for uploading {{ filename }} </p>
            <p> looking in {{image_url}} </p>
		<img src="{{ image_url }}">
	    </div>
        {% endif %}
    </form>

  </div>


{% endblock %}