  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title> FreshenAI</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
      <h3> Prediction: {{ pred }} </h3>
      <br><br>
      <img src={{imgpath}}>
      <script>

      </script>

    </body>
  </html>

  <form action="/upload" method="POST">
     <button type="load" class="btn btn-primary">Load</button>
     <button type="submit" class="btn btn-primary">Analyze</button>

</form>